/* ------- GLOBAL --------- */
html,body,*{font-family:"Microsoft YaHei" ! important;}
.footer-div {text-align:center;color:#777;}
/* ------- ADMIN --------- */
.admin-body {
	background-color:#fafafa;
}
.login-div {
	border-radius: 3%;
	border-style: solid;
	border-width: 1px;
	border-color: #cfcfcf;
	padding-left: 2%; 
	padding-right: 2%; 
	padding-top: 3%; 
	padding-bottom: 3%; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 8%;
	width: 27%;
}
.logo-div {
	margin-bottom: 7%;
	text-align:center;
}
.logo-img {
	margin:0 auto;
	width:27%;
	height:27%;
}
.login-div form button {
	margin-top: 7%;
}